.bill-list-container
  margin: auto
  box-sizing: border-box
  width: 300px

.bill-list-row
  display: block

.bill-list-row-content
  display: inline-block

.edit-mode-btn
  text-align: center
  cursor: pointer
  &:hover
    color: blue